@media (min-width: 320px) {
  .footer {
    font-size: 1rem;
  }
}

@media (min-width: 961px) {
  .footer {
    font-size: 1.5rem;
  }
}

.footer {
  color: #444;
  z-index: 0;
  display: flex;
  float: bottom;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  column-gap: 1em;
}

.githubIcon {
  cursor: pointer;
}

.githubIcon:hover {
  color: var(--hover-regular);
}