@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@keyframes menuOff {
  from {
    opacity: 100%;
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
    opacity: 0%;
  }
}

@keyframes menuOn {
  from {
    opacity: 0;
    /* transform: scale(0.9); */
  }
  to {
    opacity: 100;
    /* transform: scale(1); */
  }
}

.menuOff {
  animation: menuOff 0.25s linear 1 forwards!important;
}

.menuOn {
  animation: menuOn 0.25s linear 0.25s 1 forwards!important;
}

.UIContainer {
  grid-template-areas: "Info" "Projects" ".";
  grid-template-rows: 25vh 36vh 1fr;
  grid-template-columns: 1fr;
}

.projectsContainer {
  flex-direction: row;
  overflow-x: scroll;
  padding-left: 7.5vw;
  width: 92.5vw;
  height: 40vh;
}

.hoverBox {
  width: 35.56vh;
  height: 35.56vh;
}

@keyframes hoverNavAnimation {
  from {border: 0.25em solid var(--hover-dark);}
  to {border: 0.25em solid var(--hover-light);}
}

.hover {
  animation: hoverNavAnimation 0.55s linear infinite alternate;
  border-radius: 0.2em;
  margin-left: 0.35rem !important;
  margin-right: -0.25rem;
}

.projectTile {
  cursor: pointer;
  flex-shrink: 0;
  height: auto;
  width: 35.56vh;
  margin-left: 0.6rem;
  padding: 0.1em;
  box-shadow: 0px 0px 1vh rgba(0, 0, 0, 0.4);
}

.appContainer {
  margin: 0 !important; 
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.UIContainer {
  display: grid;
	width: 100%;
	height: 100%;
}

.projectsContainer::-webkit-scrollbar {
  display: none;
}

.projectsContainer {
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: center;
  grid-area: Projects;
}